.friends-list-view-container {
  border-radius: 8px;
  background: #ffffff80;

  .friends-list-view-title {
    padding: 30px 40px 10px 40px;
    font-weight: 700;
    font-size: 26px;
    color: #b1b9db;
  }
}
