.box-container {
  border-radius: 8px;
  background: #ffffff80;
}

.box-status {
  font-size: 12px;
  line-height: 24px;
  color: #b1b9db;
  padding: 0px 8px;
  border-radius: 20px;
  border: 1px solid #b1b9db;
  width: fit-content;
}
